body{
    background-color:rgb(187, 20, 112);
    background-image:url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMVFRUXFx4aFxcXFxgWFxgbGBgYGhcYGBgaHSggGBolHRcXITEhJSkrLi4uFx8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAABAAIDBAf/xAAvEAABBAECBQMEAwACAwAAAAABAAIRITFBUQMSYXGBkaHwIrHB4QTR8RMyUrLS/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APifC4zmu5g5wImC0wRRGVzJK0COaSJE2MSJxOiyHRB23v2KDTnHU33Q4kHXylsE3MXjtXiUchvWLn/UBzdVB5QujeKQ1zRyw6JlrSaunES3rBEoI8QipqT71PeFmeqyt8MC5xH+d8oDm7rTLBl0EChf1GQI6USfHVZbr/fyVEk+Bsgi68n7rPMd1AKhBrmJyTjfYQB7ALTT9J+rUS2TJ/7XiIHW/qrWMNCgPVAtd3QCeqAYTJQPNWTM/DKhJEysgLZc4gCSRYAnE5AHWUAZzce3ywprupFfAskKhBtskwJJPk+yQYgzJ2IxsuYMJLuqDvxeEGsY7/ka4u5pYObmZBgc0iLzRNbLiHHcqeO3hZQbZxIsEzoQY7rPN8ladEVRqjelme+nVZHpugpO5WmtME3Hz9eq3x2tL44ZdymAC8gGYEycATPhcnfNUBzHdauJ2rPf+kFPWR2vr4/1AhxBEwcGJo4MGD63K0/iE+9aNk6XJxquRUSg2x5BkEgjEZRPUrLTqtN3Inz0QP8AyXmVnmQBlPNUVvj85QXOd114TjC5tdE0LEdrBkbGo7ErfBwgzxXSSSbWF05hYqzkjEHRYIjqgXsIPKQQQYINEGbBBwUOAzPj5oo6Kn3QaZwyZI0E9hv9lnuULVmeg16UAEDw3kWNiDU5BBygBZUAgoXQSSXUYs41Oy5kqKBbv+0tjUTW8XGVRvtUEeJRUdUCBtqPn2WQutAVZI6jlM2Otf8AsuSChUJa3OK376IAQQXThcQtMjOJ1BqwdD1XMKQMEQfIWnOJs39lco1OmgmDcAzHreVotHKIdJJI5bkYg4gzJx/49kGAYjfdb/kcQOILWBlWGlxBO/1Elcils5nCCIxqoohIPQf0gXEdfOZ1UeJUQO9zmd0OQCg2G+v+YOuqwPVab483/iHNIyI7oBaY+PQiwDkRrrawkIN8OIJ5oIwIN3poIzay7KmhAQPKrygKCCUl52UBKAhdeGZF6LkF6OGIFxd6n7Y8oMVc6jpRn2sei5BdOHxS1wcIkGRIBFGRINHsaR/ymHD/AMiCcaT066IMlIeQZBhPMaj8eyyHURAyL1ETXmfYIIIUpBqBBS/hEAGoIkQQa5i2xpYNGDEHBCy0Tp6ep9kuiTFDaZr8oAiDmUx8A0WUg11+fpBEK5bg0mcGb+2yIQBUoFLSb+dj7oEmo8+ub8D3WSmemnwqcZKAWmVBmPv3WSVBBO6JRCXefP4QJfcget/dLoGPEjRZNVR62gBBBJCmt/1QcdPnyEFzVi5EHbNe49FrhPhwMTBxvB6oJ0OJWSgXG/hSXHJk91PEGJBG4mPeEFu179EDy2RjTf3CMqjUpAq/GM9UABSrUE8MCcx12QA+fPmFHEoIWiaQTjsBjv8AdZUlBELrwxnuuTjQqOu67cFlV9wg5RJN+pWUvH3WUCoKSIg5nT9oF3DP6RBiYrCAVqZqYE/qUGuDxnMMsJbILZFU5pa4eWuIPQrnralEoFrZqJJwgJtLCNRPTCAPzdLTvauFEgOJDZEkCSBqQCRJ6SE8V8mQA0aASQPW0GScVgfCt8IEzygmjIE4FkmNBnwuYUEFK01pmpn3nRRdUbIQBKZWnuaTQgQBRJsNAJvcyY6qPDgAkEAzymMx+0A6vPz53Rzb3t0ya8lbHFPJyyOUHmiLJIjMbdVlgnSTP3QYWwY8jrI3+dVk2k4QTo0vwgiMj1SCpzp+fJQC0WnJm9T86oc0jRQCASDX6766ZQEn5+UE+NJ0yIuL95VIjF7z+FdUIILfD4hBBgVdiQehBorELZE40moiBnygGu9kT7oBUgWg4Fnolw2kwBNYxONJOVERBBv7bXurmqI1N+leyDK7cHGFxXbhRCDmTlZC078qc6fm6Ba43BznqskqOfn3RHVBKJ3TPqoihfjZABIMKBMGz8wooJL3AmSIxgfLWnMrmg8pMA1kAE+bHquaBG/+ISDUTiwOpj0/SkC3IqdYv0OsIe4EmgOgmulkmEuEZBFD3GfIvyrmqEGFsDf5SyooERstMIAkTzTR01nzj3WSFvhdsXgEXAv190Axps6DNjWqByuv8BnDc8N4jzw2Gfq5S6DynlloyJgHuuPDfBkRgiwDkRg90BBNPfpG/wAlCjlSBJrOqAkrTH519dunW/CDJROi7cVoYXMIY41Dg6QNaIMHa5XLwgFFdOFwXOcGsaXFzg1oFkk0ANySVMDeV0l3NXLAEZvmMyK2lBzWm8QwWg0SCR1aDB8cx9UNJ0rqp1a+k/NUFSgJNDwEBLHQZryAfYoBRMrTHEWNiMTkQc9CgGDv3Qdf5Jb9PKXEco5pAb9VzEH6hsTa5EoAWi2DGx+yAcfK68PC4rtwWmMIObtUNi/3+PTytsdDp2OIBxiQQQR0Kye/hBlJokeKM+4Q02kOoiBeuojZBlK7ugj6hyy0ctEA8v0mO8G9wVyObF+iAhEJc8nJJgQLwNuy0+si4ER4M+iAfGn+5vpop5FQIq7mTv07dEF1AfLj+llAgJJofPmFMYTgEwJMCaGT2USg6niSzl5W0S7nvmIIa0NzBAiQAJs6YOGRMkmKkTDnCbAMGMZhckuQAC3UCP8AtMERUVFznOmgWApAkQYTMCATJztH+gFQFa2gDeUDeAsgLQcRqRGPnlTnSfA12FoMqlM4EAdb91oWDpCA4cAgkT036UslbLCAHXBwe2fuFiUGi41OgroJJ+5Pqg3stPbAGPkZWY1QCXdMKJofCoRCAUloUR6ILl91pzIFyDUCMgzc+mm+IvLXEYpBKCUVLQbRMH8DGfVBkeq006e32Q7zHp3UDFoNcXhkEgkEjJDg4eoJBW+GFzb2ldmtLSWmJBIOHCqoiiOyDiXZG5WQk5U4IIJ4YGSRUVf1XYkYUz0F3nTHZZBQdv5bw57i1pYyTyMLubkaSSGgmzE58rkd0AKQaYBcg40300U5xIEkkAQAZoSTA2EknygAn79dFRXz0QSmCTSiZWuFwnOcGtH1EgAYs98IMteRgkSIMHQ5HZMm9e6IuDW9WhAu7ISG1Py5/pQHX7+iB4T4II32B+6zC2wkQRpc+UHERsZ11/v2QAKCtggARPNPjoska/n8ZhBJAG+n4rRZW8iSRIwIz/iDE6JMQMzqhdeC4ggh0GfSs46oOSkuC014Gk0RBxdT7z3Qb/j8YNdzFrX5+l08pkEXBBkTOcgK5hywMkfVIEyHH/oe0e65kEXjXb0WSgQCiPRLRJvGpzG5W+EwGZcBRogmarG+EHMCpWgzeqm0V/aopBriNaIgzIk1EGTQu9L6rONBYr4PyglLCJuY1gwUAroqU80UNcoIMMxF7aoSHEGRRGqeG2SBQnU/2aQZtejgNEXI8ftcXiCbnY4nYrpwsIObxZ7ocVotN+vvH5WB7aoKFFadqsINNKhH7/SylBuZFNwLN766DZZlbeRAAM6mo8dRQ9VrhfxnOY94A5eHHMZAI5jAgEyb2CDm1omN96vqjKi4rb+A4SS1wgwSQRBIJAOxIB9Cg5pI3S1tfJ8eiD7/AD9IJWMhaLByzzCZjlgzEZmI6eFhBo9jH5j+1lPMIiLnNqhABJAjN7bI9YUeqDTzJJj9aDurkrmkZiJvvGyJr54SIm7reL0z1QHVTFlLUDXvn9KIE9N/yhac756f0gHu6zCIXRwcRzQeUmJiGyLgaTrC5yg0JFg+UV741S9pGdgfBEj2IUSL129dkE7ePCykUolBPd87UFIKECSkHoiVpnDJBIwM2NTA90BJQFJ5jv8ABhASvVwA0i3Qex/tceEJklpcA0zGk/S1xIwA5ze+NV1cxoMNdzijMEZAJEHUExtVSEHndkrXBaXHlkCdzAoak1v6rr/J4HKGklpLxzfS4Ogczm8rwLa76Zg3BB1XB5Gm3++6AWg3N+xtZU4oIRHX/Z/Ckgb4nRbERrzDYCI3mZmUHMKVK6M4zgCAYBEEbiQ6DuJAPgIOagULRdIGKr3JvfKB4bS4gDJIAuM0LNDygZVPtomvvv6ICPZRCXDYyFv+NwDxHtY23PIa0UAXOIAEkgAXlByHXCk+UIFw6q5f30QpBpw7ZijsieiFIJQCkgoJzYUglSCIUFviAb9u2s9Rj1Q4jsgyULbz0HfwPH+o9kAmcCq7e6F1eIDDLbBMCKsth2x+mY2IOqB47w8l0NZQHK3mgwAKmbMSZOp7LkIVzKivwgqWxHJl3NOIHLHeczFQuS68JrnHkbJJIAA1JNVvhBzLk83b0CmRqrTGufwgWvIkAkSIPUSDB3EgHwF24DhFtnyV5yahdeDhBh2Ucy2OCSTEYJyBQBJzrAx4XMoIJz9yiFINvIgb6iAB0ubOdAho7/N0vDagk0JkRB1AgmR1rssEIILT40nsew/MrJWmnlM0a75H3QBSNfkWL/CG9f6SHkSJiRBGJEzB3sA+EEx0TQMiL06jqnhsn0n0/wAWUIEkIU4R0S8RrKAW2yWnYWca0jhgSA6QJEkCSBrAkSfITXy99NNEGYFWM9a6/NlCigFSCcU826FEen9IEiNPnwoWuc7z3vSP69EOKATKmoQb/kcTmdIa1tCmzFACbJznysfdbbHKauR2i5/CXtOaisYEiQO9eyDE+6rCpSZyZjA2rQevugyCoKW+G8gGIsROo7HTbsg3wn0QRMCiSRy3JDdLnbVcghUoNvbBINdutoBFgYO+mDPeo8rIW2kaifb3QZtQHdXnRRPgeqBDDdGrxoYj7hdOGscV8nJMYJ2AAFaUAuo4nNcAUB9ND6WgT3MSepKDi8WaQB0lKkFJiI9r9crp/J/icThvLOIxzHDLXAgiQCJHYgqUgxBMD8IgjdSkG+EHAGCRV5u8HyAuZB2UpBtrJ6V6nbp+lgA7FKkGnRUNPfdZaDspSCc0/LU0dCpSA5SoNOylIHlOyGt6JUgOU7K5TspSCLDsoAqUguXuu38T+I/iuDGCXGYkhooEm3QMA6qUgP43Fcw8zYwcta4WCDTgRgmDpkWuTWmqnopSCLTsU3EWpSCc3YGPX1QGlSkCW9CjlOxUpBAHYq5T1UpAgdF6GcF3E5AXNAA5RNcoLnG4G5J8pUg5j+Mdx768v/17FaHBLdJ1q1KQf//Z");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:"Playfair Display", serif;
    margin: 0;
}
.site-header {
    width: 100;
    box-sizing: border-box;
    padding: 20px 32px;
    background:#da12a8;
    display:flex;
    box-shadow:0 10px 4px rgba(138, 5, 61, 0.151);
    flex-direction:wrap;
    align-items:center;
    justify-content:space-between;
    gap: 16px;    
}

  .logo img{
    width:96px;
    height: auto;
  }
.informacoes .aluno{
    font-size: 14px;
    margin-bottom: 4px;
    color:#ece9ec
}


.informacoes .titulo-site{
    font-size: 18px;
    margin: 0;
    color:#da12a8

}

.site-nave a {
    color:wheat;
    text-decoration:none;
    font-weight: 600;
}
.site-nave a:hover {
    text-decoration: underline;
}

h1{
    color:rgba(245, 245, 245, 0.856);
}

p {
    color:cyan;
    font-size: 35px;
}

h2{
    color:white
}

.caixa {
    background-color: black;
    width: 300px;
}

#rivalidade {
    width: 1300px;
    height: 700px;
    border-radius: 8%
}

#portal {
    width: 1000px;
    height: 500px;
}